.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
@media(min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 1px 1px 1px #000;
        left: 3%;
        top: 640px;
    }
}
@media(max-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 25%;
        border-radius: 50%;
        box-shadow: 1px 1px 1px #000;
        left: 38%;
        top: 650px;
    }
}



#nombre{
    font-weight: bold;
    margin-top: 25%;
}