<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Escuela 1147 Ntra Sra de Guadalupe</h1> - <h3>(years)</h3>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maxime necessitatibus in aperiam, error magnam quas 
                 rerum accusamus non reprehenderit quae illo inventore, 
                
            </li>
        </ul>
        <ul>
            <li>
                <h1>UTN - Ingenieria en sistemas</h1> - <h3>(years)</h3>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maxime necessitatibus in aperiam, error magnam quas 
                 rerum accusamus non reprehenderit quae illo inventore, 
                
            </li>
        </ul>
        <ul>
            <li>
                <h1>Google activate</h1> - <h3>(years)</h3>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maxime necessitatibus in aperiam, error magnam quas 
                 rerum accusamus non reprehenderit quae illo inventore, 
                
            </li>
        </ul>
    </div>
</div>