<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primer trabajo</h1> - <h3>(years)</h3>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maxime necessitatibus in aperiam, error magnam quas 
                 rerum accusamus non reprehenderit quae illo inventore, 
                
            </li>
        </ul>
        <ul>
            <li>
                <h1>Segundo trabajo</h1> - <h3>(years)</h3>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maxime necessitatibus in aperiam, error magnam quas 
                 rerum accusamus non reprehenderit quae illo inventore, 
                
            </li>
        </ul>
        <ul>
            <li>
                <h1>Tercer trabajo</h1> - <h3>(years)</h3>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maxime necessitatibus in aperiam, error magnam quas 
                 rerum accusamus non reprehenderit quae illo inventore, 
                
            </li>
        </ul>
    </div>
</div>